.app {
	position: relative;
	max-width: 80rem;
}

.content {
	display: flex;
}

.detail {
	flex: 1 1 70%;
}

.list {
	flex: 1 1 30%;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: blanchedalmond;
	width: 100%;
	height: 100%;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: blanchedalmond;
}

@media screen and (max-width: 48rem) {
	.content {
		flex-direction: column;
	}
}
